@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* You can add global styles to this file, and also import other style files */

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
